# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Packaging / Build
# =========================
build/
dist/
*.egg-info/
eva.egg-info/

# =========================
# Pytest / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/
